<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>		
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
	    <filter-name>cors</filter-name>
	    <filter-class>com.healthmax.biogram.filter.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>cors</filter-name>	    
	    <url-pattern>/*</url-pattern>	    
	</filter-mapping>
	<filter>
	    <filter-name>requestFilter</filter-name>
	    <filter-class>com.healthmax.biogram.filter.RequestLoggingFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>requestFilter</filter-name>	    
	    <url-pattern>/*</url-pattern>	    
	</filter-mapping>
	
	
	<context-param>  
       <param-name>spring.profiles.active</param-name>  
       <param-value>dev</param-value>  
	</context-param>  
	<context-param>  
	       <param-name>spring.profiles.default</param-name>  
	       <param-value>dev</param-value>  
	</context-param>
	<context-param>  
	       <param-name>spring.liveBeansView.mbeanDomain</param-name>  
	       <param-value>dev</param-value>  
	</context-param> 
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
		
	<!--
      	<security-constraint>
		<web-resource-collection>
			<web-resource-name>restricted methods</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrator</role-name>
			<role-name>guest</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
        	<role-name>administrator</role-name>
	</security-role>
	<security-role>
        	<role-name>guest</role-name>
	</security-role>
	-->
</web-app>
