<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healthmax.biogram.mapper.WeatherMapper">

	<!-- 격자, GPS 를 이용한 지역구 코드 반환 -->
	<select id="selectWeatherGridStd" parameterType="hmap" resultType="hmap">
		SELECT
			AREA_CODE,
		    AREA_GR1,
		    AREA_GR2,
		    AREA_GR3
		FROM WEATHER_GRID_GPS_STD
		WHERE GRID_X = #{GRID_X}
		AND GRID_Y = #{GRID_Y}
		AND GPS_LAT &lt;= #{GPS_LAT}
		AND GPS_LNG &lt;= #{GPS_LNG}
		ORDER BY GPS_LAT, GPS_LNG
		LIMIT 1
	</select>
	
	<!-- 지역코드 검사 -->
	<select id="selectWeatherValidateArea" parameterType="hmap" resultType="hmap">
		SELECT
			AREA_CODE,
		    AREA_GR1,
		    AREA_GR2,
		    AREA_GR3
		FROM WEATHER_GRID_GPS_STD
		WHERE AREA_CODE = #{AREA_CODE}		
		LIMIT 1
	</select>

	<!--금일 하늘상태 -->
	<select id="selectWeatherDataSky" parameterType="hmap" resultType="hmap">
		SELECT
			FCST_DATE,
		    FCST_TIME,
			FCST_VALUE
		FROM WEATHER_VILAGE_FCST
		WHERE AREA_CODE like CONCAT(#{AREA_CODE}, '%')		
		AND FCST_DATE = DATE_FORMAT(NOW(), '%Y%m%d')
		AND FCST_TIME &lt;= CONCAT(DATE_FORMAT(NOW(), '%H') ,'00')
		AND CATEGORY = 'SKY'
		ORDER BY FCST_TIME DESC
		LIMIT 1
	</select>
	
	<!--내일, 모래 하늘상태 -->
	<select id="selectWeatherDataFuture" parameterType="hmap" resultType="hmap">
		SELECT
			AREA_CODE,
            FCST_DATE,
            FCST_VALUE
		FROM WEATHER_VILAGE_FCST
		WHERE AREA_CODE like CONCAT(#{AREA_CODE2}, '%')				
		AND CATEGORY = #{CATEGORY}
        AND FCST_DATE &gt; DATE_FORMAT(NOW(), '%Y%m%d')
		AND FCST_TIME = '0900'        
        ORDER BY AREA_CODE ASC
        LIMIT 2
	</select>
	
	<!-- 강수형태 -->
	<select id="selectWeatherDataPty" parameterType="hmap" resultType="hmap">
		SELECT
			FCST_DATE,
		    FCST_TIME,
			FCST_VALUE
		FROM WEATHER_VILAGE_FCST
		WHERE AREA_CODE like CONCAT(#{AREA_CODE}, '%')		
		AND FCST_DATE = DATE_FORMAT(NOW(), '%Y%m%d')
		AND FCST_TIME &lt;= CONCAT(DATE_FORMAT(NOW(), '%H') ,'00')
		AND CATEGORY = 'PTY'
		ORDER BY FCST_TIME DESC
		LIMIT 1
	</select>
	
	
	<!-- 강수량 -->
	<select id="selectWeatherDataR06" parameterType="hmap" resultType="hmap">
		SELECT
			FCST_DATE,
		    FCST_TIME,
			FCST_VALUE
		FROM WEATHER_VILAGE_FCST
		WHERE AREA_CODE like CONCAT(#{AREA_CODE}, '%')		
		AND FCST_DATE = DATE_FORMAT(NOW(), '%Y%m%d')
		AND FCST_TIME &lt;= CONCAT(DATE_FORMAT(NOW(), '%H') ,'00')
		AND CATEGORY = 'R06'
		ORDER BY FCST_TIME DESC
		LIMIT 1
	</select>
	
	<!-- 습도 -->
	<select id="selectWeatherDataReh" parameterType="hmap" resultType="hmap">
		SELECT
			FCST_DATE,
		    FCST_TIME,
			FCST_VALUE
		FROM WEATHER_VILAGE_FCST
		WHERE AREA_CODE like CONCAT(#{AREA_CODE}, '%')	
		AND FCST_DATE = DATE_FORMAT(NOW(), '%Y%m%d')
		AND FCST_TIME &lt;= CONCAT(DATE_FORMAT(NOW(), '%H') ,'00')
		AND CATEGORY = 'REH'
		ORDER BY FCST_TIME DESC
		LIMIT 1
	</select>
	
	<!-- 풍향 -->
	<select id="selectWeatherDataWsd" parameterType="hmap" resultType="hmap">
		SELECT
			FCST_DATE,
		    FCST_TIME,
			FCST_VALUE
		FROM WEATHER_VILAGE_FCST
		WHERE AREA_CODE like CONCAT(#{AREA_CODE}, '%')
		AND FCST_DATE = DATE_FORMAT(NOW(), '%Y%m%d')
		AND FCST_TIME &lt;= CONCAT(DATE_FORMAT(NOW(), '%H') ,'00')
		AND CATEGORY = 'WSD'
		ORDER BY FCST_TIME DESC
		LIMIT 1
	</select>
	
	<!-- 아침 최저 기온 -->
	<select id="selectWeatherDataTmn" parameterType="hmap" resultType="hmap">
		SELECT
			FCST_DATE,
		    FCST_TIME,
			FCST_VALUE
		FROM WEATHER_VILAGE_FCST
		WHERE AREA_CODE like CONCAT(#{AREA_CODE}, '%')
		AND FCST_DATE = DATE_FORMAT(NOW(), '%Y%m%d')
		AND FCST_TIME &lt;= CONCAT(DATE_FORMAT(NOW(), '%H') ,'00')
		AND CATEGORY = 'TMN'
		ORDER BY FCST_TIME DESC
		LIMIT 1
	</select>
	
	<!-- 낮 최저기온 -->
	<select id="selectWeatherDataTmx" parameterType="hmap" resultType="hmap">
		SELECT
			FCST_DATE,
		    FCST_TIME,
			FCST_VALUE
		FROM WEATHER_VILAGE_FCST
		WHERE AREA_CODE like CONCAT(#{AREA_CODE}, '%')
		AND FCST_DATE = DATE_FORMAT(NOW(), '%Y%m%d')
		AND FCST_TIME &lt;= CONCAT(DATE_FORMAT(NOW(), '%H') ,'00')
		AND CATEGORY = 'TMX'
		ORDER BY FCST_TIME DESC
		LIMIT 1
	</select>
	
	
	<!-- 3시간 기온 -->
	<select id="selectWeatherDataT3h" parameterType="hmap" resultType="hmap">
		SELECT
			FCST_DATE,
		    FCST_TIME,
			FCST_VALUE
		FROM WEATHER_VILAGE_FCST
		WHERE AREA_CODE like CONCAT(#{AREA_CODE}, '%')
		AND FCST_DATE = DATE_FORMAT(NOW(), '%Y%m%d')
		AND FCST_TIME &lt;= CONCAT(DATE_FORMAT(NOW(), '%H') ,'00')
		AND CATEGORY = 'T3H'
		ORDER BY FCST_TIME DESC
		LIMIT 1
	</select>
	
	
	<!-- 지역코드 리스트 가져오기 -->
	<select id="getWeatherCityCode" resultType="hmap">
		SELECT 
			AREA_CODE, 
		    AREA_GR1, 
		    AREA_GR2    
		FROM biogram.WEATHER_GRID_GPS_STD
		WHERE (AREA_GR1 IS NOT NULL OR AREA_GR2 IS NOT NULL)
		AND AREA_GR3 IS NULL	
	</select>
	
</mapper>